<div class="navbar">
<!--     <img src="images/logoprice.png" class = "logo"> -->
    <div class="logo-phrase">Price it<br />Price it<br />Price it</div>
<!--     <div class="phrase"> Beat the consensus</div> -->
<!--        <li class="form-group" id="navbar-research">
          <input type="text" class="form-control" id="navbar-research-inside" placeholder="research security">
        </li> -->
    <div class="navbar-price-round" id="final-price">0</div>
    </div>
