// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.navbar {
height: 100px;
background: rgb(220,220,220);
box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
padding: 0px;
margin: 0px;
display:flex;
justify-content: space-between;
align-items: center;
text-align:center;
}

.phrase{
color: #40A798;
font-size:30px;
font-weight: 100;
   font-style: italic;

}

.logo-phrase{
   font-style: italic;
  position: absolute;
  font-size:30px;
  top: 8px;
  left: 10px;
  line-height: 30px;
}

#navbar-research {
list-style-type: none;
    height: 70px;
    width: 230px;
}

.navbar-price-round {
  font-size:30px;
  width:90px;
  height:90px;
  padding-top: 18px;
  color:#40A798;
  background-color: transparent;
  border-style: solid;
  border-width:2px;
  border-radius: 50%;
  border-color:#40A798;
  position: absolute;
  top: 8px;
  right: 10px;
}

#navbar-research-inside {
height:70px;
width:230px;
font-size:25px;
color: black;
}
