.body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

.logo {
  height: 80px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 10px;
}

.wrapper-grey {
  background-color: #F4F4F4;
  padding: 15px;
  height:100vh;
}

.inputs-card > .form-group {
  display: inline-block;
}
