---
title: PriceIt- home
---

<div class="wrapper-grey">
  <div class="container">
    <div class="row">

          <% data.cards.each do |card, details| %>
            <div class="col-xs-12 col-md-6">
              <div class="card">
                <ul class="card-header">
                  <li class="form-group " id="">
                    <input type="text" class="form-control" id="percentage" placeholder="X %">
                  </li>
                  <h2> <%= details.name %></h2>
                  <li class="card-price-round " id = "card-price">0</li>
                </ul>

                  <div class = "card-body row" >
                    <% (0..details.input.length-1).each do |index| %>
                      <div class= "input-button">
                        <input type="text" class="form-control"  id="<%= details.input[index].split(" ").join %>" placeholder="<%= details.input[index] %>">
                      </div>
                    <% end %>
                  </div>

                  <div class="card-footer">
                    <h5><%= details.description %></h5>
                    <h6> See the function</h6>
                </div>
                <button id="clickme" class="btn btn-sm"> Price it</button>
                </div>
              </div>

          <% end %>
          </div>
        </div>

  </div>


